@charset "utf-8";

.button-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  /* 等間隔に配置 */
}

.button-container button {
  flex-grow: 1;
  /* 幅を等分する */
}

button {
  height: 50px;
}

ul>li {
  font-size: small;
}

label {
  display: block;
  margin: 10px;
}

#mapid { height: 500px; }

.leaflet-attribution-flag {
  display: none !important;
}

#info {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: white;
  border-radius: 3px;
  z-index: 1000; /* Ensure it sits on top of the map */
}

.scale-pos{
  bottom: 16px !important;
}